<%#= cache @reading do %>
<!-- LAST UPDATED AT: <%= (@reading.created_at + 1.hour).stamp('14:11:33 12 Apr 99') %> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BICING MAP</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script>
// Adding 500 Data Points
var map, pointarray, heatmap;

var style = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"off"},{"color":"#000000"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},
{"elementType":"labels","stylers":[{"visibility":"off"}]}
];

function initialize() {
  var mapOptions = {
    zoom: 12,
    center: new google.maps.LatLng(41.405,2.18),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: style
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  <% @stations.each do |station| %>
  // <%= station.id %> <%= station %> - <%= station.latest_reading %> - <%= station.bike_count %>
  var populationOptions = {
    strokeWeight: 0,
    fillColor: '<%= station.colour %>',
    fillOpacity: 1,
    map: map,
    center: new google.maps.LatLng(<%= station.lat %>, <%= station.lng %>),
    radius: <%= (station.bikes == 0) ? 20 : [20,[200, (station.bikes || 0) * 4].min].max %>,
    zIndex: <%= station.bikes == 0 ? 9999 : 1 %>
  };
  new google.maps.Circle(populationOptions)
<% end %>
}



google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    <style type="text/css">
    #time {
      position: absolute;
      z-index: 99999;
      bottom: 20px;
      right: 20px;
      font-size: 80px;
      color: #FFF;
      font-family: 'Helvetica Neue', Arial, sans;
      text-transform: uppercase;
      font-weight: bold;
    }</style>
  </head>

  <body>
    <div id="map-canvas"></div>
    <div id="time"><%= (@reading.created_at + 1.hour).stamp('SUN 14:11') %>
    <input id="test" type="range" min="<%= 2.days.ago.to_i %>" max="<%= 2.hours.ago.to_i %>" step="900" />
    </div>
  </body>
</html>
<%# end %>
